.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(5%,80px);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar .profile{
    width: 50px;
    border-radius: 13px 6px;
    box-shadow: 0 4px 8px 0 rgba(255, 4, 4, 0.2), 0 6px 20px 0 rgba(18, 14, 226, 0.19);
}